*{
  font-family: 'poppins','Sans-serif';

}
a{
  text-decoration: none;
}

.background {
    background: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}
.outer-content {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 7%;
    padding-bottom: 10%;
    
}
.content {
    
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 1px 1px 20px 20px #cccccc33;
    border-radius: 8px;
}

.left {
    float: left;
    display: inline-block;
    max-width: 50%;
    padding: 30px;
}
.left h3 {
    color: #795de4;
    margin-bottom: 30px;
}

.left h2{
    color: #bd081c;
}
.left p {
  color: #6f6f6f;
  }

  .admin {
    padding: 0;
    margin-top: -20px;
    margin-left: 70px;
}

.left img {
    width: 100px;
    margin-bottom: 20px;
}

.right {
    float: right;
    display: inline-block;
    max-width: 50%;
    padding: 30px;
}

.right h2 {
    font-size: 28pt;
    color: #940514;
}

.right p {
    font-size: 15px;
    line-height: 1.5;
    color: #737272;
}

.ip-contn {
    width: 100%;
    float: left;
    display: inline-grid;
    margin-bottom: 20px;
}
.ip-contn span {
    font-size: 10pt;
    line-height: 2;
    letter-spacing: 1px;
    color: #6f6f6f;
}

.ip-contn input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid;
}

.ip-contn input:active, .ip-contn input:focus {
    border-color: #795de4;
    outline: none;
}

.rmbr-me {
    font-size: 12px;
}
.rmbr-me input#remember {
    float: left;
}


.rmbr-me a {
    float: right;
    color: #9E9E9E;
}

.rmbr-me a:hover {
    color: #2500b3;
}
.login {
    margin-top: 30px;
    width: 100%;
    align-items: center;
}

.login input#submit {
    width: 100%;
    padding: 10px;
    background-color: #795de4;
    border: 1px solid;
    border-color: #785ddf;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}


.login input#submit:hover {
    background-color: #5f4aaf;
    border-color: #5f4aaf;
    cursor: pointer;
}


input#showHidepwd {
    margin-top: 10px;
}

.rmbr-me span {
    margin: 4px;
}
.showHide span {
    margin-left: 4px;
}

@media screen and (max-width: 750px) {
  .content {
    display: inline-block;
  }
  .left {
      float: left;
      display: inline-block;
      max-width: 100%;
      padding: 30px;
  }
  .right {
      float: left;
      display: inline-block;
      max-width: 100%;
      padding: 30px;
  }

  .left img {
    width: 80px;
  }
}

@media screen and (min-width: 451px) and (max-width: 750px) {

.outer-content {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 7%;
}
}

@media screen and (min-width: 751px) and (max-width: 990px) {

.outer-content {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 7%;
}
}


@media screen and (max-width: 451px) {
  .outer-content {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 5%;
    padding-bottom: 7%;
}
}

span.error-email {
    font-size: 8pt;
    color: red;
}

