*{
  font-family: 'poppins','Sans-serif';
  color: #7d7d7d;

}


a, a:hover{
  text-decoration: none;
}
a{
color: #7d7d7d;
}

/*header*/
a.ozoTitle {
    font-size: 16px;
}



img.img-logo {
    width: 21px;
    height: auto;
    margin-right: 20px;
    vertical-align: sub;
}

.navbr{
    padding: 12px 21px 5px 21px;
	box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);
}
.nav-lft{
	float: left;
	text-transform: capitalize;
    font-weight: 600;
}

.nav-rit{
	float: right;
}
.profile i {
    font-size: 30px;
    margin-left: 10px;
}

#nav-a1>i.material-icons {
    font-size: 30px;
    color: #bd081c;
    text-shadow: 2px 2px 12px #bbb;
}

#nav-a1>i.material-icons:hover {
    font-size: 30px;
    color: #bd081c;
    text-shadow: none;
}


.menu-bar {
    background: #f7f7f7;
    box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);
    height: 70px;
}


.menu {
    padding: 24px 0;
    padding-bottom: 35px;
    text-transform: uppercase;
    float: left;
}


ul.menu-ul {
    list-style: none;
}

li.menu-li {
    float: left;
    margin-right:  50px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
}
li.menu-li a:hover, li.menu-li a:active{
    color: #bd081c;
}
li.menu-li a{
position: relative;
}
.active{
    color: #bd081c;
}
.menu-li a:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 2px solid;
    margin-top: 30px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.menu-li a:hover:after, .menu-li a:active:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.options{
	padding: 18px 0;
	padding-right: 30px;
	float: right;
}

.options input[type="text"] {
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    padding: 7px;
    width: 300px;
}

.options i.material-icons {
    padding: 0px 10px 0px 4px;
    vertical-align: middle;
    margin-left: -32px;
    position: relative;
    font-size: 22px;
    color: #bbb;
    cursor: pointer;
}

.options select {
    width: 150px;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    padding: 7px;
    cursor: pointer;
}

.options select:focus, .options input[type="text"]:focus {
        outline-color: #fff;
    box-shadow: 0.5px 0.5px 10px #ccc;
}



/*Request*/
.tabular {
    padding: 10px 30px 10px 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

td.viewer {
    font-size: 17px;
}


/*Shop Details*/

.detail-bar {
    background: #f7f7f7;
    box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);
    height: 70px;
}


.detail-menu {
    padding: 15px 0;
    padding-bottom: 15px;
    text-transform: uppercase;
    float: left;
}

.detail-menu i.material-icons:hover {
    margin-left: 20px;
    margin-right: 50px;
}

.detail-menu i.material-icons {
    float: left;
    padding: 8px;
    margin-left: 30px;
    margin-right: 40px;
    transition: 0.4s;
    cursor: pointer;
}

.detail-menu h4 {
    float: left;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}


.dtls-content {
    width: 100%;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.left {
    max-width: 50%;
    float: left;
    padding: 0px 10px 0px 10px;
}

.right {
    max-width: 50%;
    float: left;
    padding: 0px 10px 0px 10px;
}

.dtls-content .left h5 {
    font-size: 16px;
    padding: 2px 0;
}


.buttons {
    float: right;
    padding: 20px;
}

.buttons button {
    margin-left: 30px;
}

button.accept.btn {
    background: #4CAF50;
    color: #fff;
    font-size: 15px;
    box-shadow: 4px 4px 10px #bbb;
}

button.reject.btn {
    background: #bd081c;
    color: #fff;
    font-size: 15px;
    box-shadow: 4px 4px 10px #bbb;
}

button.reject.btn:hover {
    background: #a50114;
}

button.accept.btn:hover {
    background: #459c49;
}

.detail-menu img.img-responsive {
    width: 100px;
    float: left;
    display: inline-block;
    margin-right: 20px;
    border: 2px solid #00000030;
    border-radius: 100px;
    padding: 2px;
    margin-top: -7px;
    background: #fff;
}

.group-dls-cont {
    padding-bottom: 20px;
    border-bottom: 1px solid #dde;
    
    width: 90%;
}
.carousel{
    height: 220px !important;
}

.carousel .thumb {
    -webkit-transition: border .15s ease-in;
    transition: border .15s ease-in;
    display: inline-block;
    width: 40px;
    margin-right: 6px;
    white-space: nowrap;
    overflow: hidden;
    border: none !important;
    padding: 2px;
}
.carousel .thumbs-wrapper {
    display: none !important;
}

.img-fit {
    width: 100%;
    border-bottom: none;
}

.carousel .thumb.selected, .carousel .thumb:hover {
    padding: 2px;
    opacity: .7;
    border: none !important;
}

.group-dls-cont.map {
    padding-top: 36px;
    border-bottom: none;
}

.group-dls-cont h5 {
    font-size: 17px;
    font-weight: 600;
    text-shadow: 2px 2px 10px #ddd;
}

.offerset>.group-dls-cont {
    padding-bottom: 0px !important;
    border-bottom: 1px solid #dde;
    
    width: 100%;
}


.pagination {

    float: left;
    width: 100%;
    text-align: center;
}

.pagination>li {
    display: inline-block !important;
}

.align-right
{
    text-align: right;
}

.align-center
{
    text-align: center;
}