/*!
 * 
 *  React Simpletabs - Just a simple tabs component built with React
 *  @version v0.7.0
 *  @link https://github.com/pedronauck/react-simpletabs
 *  @license MIT
 *  @author Pedro Nauck (https://github.com/pedronauck)
 * 
 */
.tabs-menu {
  display: table;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-menu-item {
  float: left;
  margin-right: 20px;
}

.tabs-menu-item a {
  cursor: pointer;
  display: block;
  color: #A9A9A9;
}

.tabs-menu-item:not(.is-active) a:hover,
.tabs-menu-item.is-active a {
  color: #3498DB;
}

.tab-panel {
  padding: 10px 50px;
}


.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 24px 4px 0 0;
    font-size: 20px;
}

#navbar {

    padding: 30px;
    width: 100%;

}
.nav-lft a {
    color: #2196F3;
    font-size: 25px;
    text-transform: uppercase;

}

.nav-rit a {
    color: #bb0303;
    font-size: 20px;
}

.nav-lft {
    max-width: 50%;
    display: inline-block;
    float: left;
}
.nav-rit {
    float: right;
    max-width: 50%;
    display: inline-block;
}

.nav-lft a::before {
    content: "#";
    border: 2px solid #2196F3;
    border-radius: 0px 10px 0px 10px;
    font-size: 20px;
    background: #00BCD4;
    padding: 0px 6px;
    margin-right: 10px;
    color: #fff;
}
.navbr {
    height: 100px;
    padding-top: 25px;
}

.nav-rit a:focus, .nav-rit a:hover {
    color: #23527c;
    text-decoration: none;
}

.nav-lft a:focus, .nav-lft a:hover {
    color: #23527c;
    text-decoration: none;
}